<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FAKTURE JOVIALE</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class="main-layout">
    <% unless action_name == "home" %>
      <div class="navbar-actions">
        <div class="action">
          <%= link_to dashboard_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </div>
        <div class="action">
          <%= link_to "" do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </div>
        <div class="action">
          <%= link_to "" do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </div>
        <div class="action">
          <%= link_to "" do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </div>
      </div>
    <% end %>

      <div class="dashboard">
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>
      <% unless action_name == "home" %>
        <div class="navbar-end"></div>
      <% end %>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
